* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Avenir Next" !important;
}

body {
  height: 100vh;
}

canvas {
  display: block;
  z-index: -1;
  padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

#container {
  position: relative;

}

#container canvas, #overlay {
  position: absolute;
}

#savings-circle {
  position: absolute;
  background: #6A38EC;
  color: white ;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 40vh 75px 0 -75px;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#savings-circle h2 { 
  margin: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  font-weight: 600;
  font-size:  24px;
}

.fab-container {
  position: fixed;
  bottom: 130px;
  right: 50px;
  z-index: 999;
  cursor: pointer;

}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #6A38EC;
  background-origin: padding-box;
}

.bigger {
  width: 60px !important;
  height: 60px !important;
  border: 10px solid white;;
}

.fab-icon-holder:hover {
  opacity: 1;
  
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 25px;
  color: #ffffff;
  
}


.fab-icon-holder img {
  height: 24px;
}

.fab {
  width: 60px;
  height: 60px;
  background: #6A38EC;
}



.fab-options {
  list-style-type: none;
  margin: 0;

  position: absolute;
  bottom: 70px;
  right: 0;

  opacity: 0;
  
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover+.fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);


}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}